.env
__pycache__/
*.py[cod]
.venv
.DS_Store
.vscode/
dev.db
renachan/cogs/utils/proxy.py
renachan/cogs/utils/creepy_crawler.py
renachan/cogs/utils/crawler_helpers.py
renachan/cogs/utils/discord_helpers.py
