aiohttp==3.8.5
aiosignal==1.3.1
alt-profanity-check==1.1.3
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
colorlog==6.7.0
cssselect==1.2.0
discord.py==2.3.2
exceptiongroup==1.1.2
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
idna==3.4
jmespath==1.0.1
joblib==1.3.2
lavalink==4.0.6
Levenshtein==0.21.1
lxml==4.9.3
multidict==6.0.4
mysql-connector-python==8.1.0
numpy==1.25.2
outcome==1.2.0
packaging==23.1
parsel==1.8.1
protobuf==4.21.12
psutil==5.9.5
PySocks==1.7.1
python-dotenv==1.0.0
python-Levenshtein==0.21.1
rapidfuzz==3.2.0
requests==2.31.0
scikit-learn==1.1.3
scipy==1.11.1
selenium==4.11.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==1.4.46
threadpoolctl==3.2.0
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
urllib3==2.0.4
w3lib==2.1.2
webdriver-manager==4.0.0
websockets==11.0.3
wsproto==1.2.0
yarl==1.9.2
